@import url('https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243E63;
}

section {
    padding: 0 32px;
    
}

div {
    unicode-bidi: isolate;
}


.purple {
    color: #6415FF;
}

img {
    width: 100%;
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    font-size: 16px;
}

h3 {
    font-size: 48px;
    font-weight: 900;
}

a {
    display: inline;
    text-decoration: none;
    font-size: 14px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    color: rgb(124, 139, 161);
    font-weight: 500;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.button {
    cursor: pointer;
    transition: background-color 300ms;
    background-color: #6415FF;
    font-size: 14px;
    color: white;
    width: 141px;
    font-weight: 700;
    border-radius: 50px;
    border: none;
    padding: 12px 28px;
}

/*NAV-BAR*/

.row {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.row__nav {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
}

.nav__bar {
    display: flex;
    padding-top: 32px;
}

.logo__container {
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
}

.nav__logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-right: 10px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
}

ul {
    list-style: none;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    max-width: 625px;
    width: 100%;
    align-items: center;
    font-weight: 600;
}

.nav__link--primary {
    background-color: #6415FF;
    color: white;
    border-radius: 50px;
    margin: 0;
    padding: 10px 32px;
}

/*LANDING*/

.header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 96px 0;
}

.header__image--wrapper {
    width: calc(60%);
    display: flex;
}

.header__text {
    width: 100%;
    max-width: 512px;
}

.header__para {
    margin: 32px 0;
    max-width: 500px;
}

.header__customers--image {
    opacity: 50%;
    margin-top: 16px;
}

.header__email--wrapper {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex
;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(229, 231, 235);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--button {
    z-index: 2;
    background-color: #6415FF;
    font-size: 14px;
    color: white;
    margin: 8px;
    width: 160px;
    height: calc(100% - 16px);
    font-weight: 700;
    border-radius: 50px;
    border: none;
}

.header__customers {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
}

.menu__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.button__menu {
    background-color: transparent;
    border: none;
    display: none;
    transition: all 400ms ease;
    font-size: 18px;
    cursor: pointer;
    color: #1a202c;
}

.button__menu--close {
    position: absolute;
    top: 24px;
    right: 18px;
}

#landing i {
    color: #000;
}

body.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    background-color: white;
}

.menu__links {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateY(-24%);
}

.menu__link {
    color: rgb(26, 32, 44);
    font-size: 18px;
    font-weight: 600;
    line-height: 3.5;
    margin: 8px 0px;
}

.menu__list--button {
    color: white;
}


/*FEATURES*/

#features {
    position: relative;
}

#features .feature__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    padding: 96px 0;
    margin: 0 auto;
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.section__title, .section__subtitle, .section__para {
    text-align: center;
}

.section__title {
    line-height: 1.25;
}

.section__subtitle {
    font-size: 48px;
}

.features {    
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    display: flex;
    width: calc(100% / 3);
}

.feature__img--wrapper {
    border: solid 2px #E2E8F0;
    border-radius: 50%;
    padding: 20px;
    margin: 0;
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature__img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__title {
    display: flex;
    align-items: end;
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
    display: flex;
}

/*QUALITY*/

.quality__row {
    display: flex;
    justify-content: space-between;
}

.quality__button {
    margin-top: 32px;
}

.quality__title {
    text-align: left;
}

.quality__subtitle {
    text-align: left;
    margin-top: 16px;
}

.quality__para {
    text-align: left;
}

.quality__text {
    width: 100%;
    max-width: 468px;
    margin-right: 64px;
}

.quality__image--wrapper {
    width: 100%;
    max-width: calc(50%);
    margin-left: 64px;
    border: rgb(229, 231, 235) 1px solid;
}

/*STEPS*/

#steps .row {
    display: flex;
}

.steps__image--wrapper {
    width: 100%;
    max-width: calc(50%);
    margin-right: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps__title, .steps__subtitle, .steps__para {
    text-align: left;
}

.steps__subtitle {
    margin-bottom: 16px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    margin-right: 24px;
    margin-top: 12px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 2px;
}

.step__text {
    display: flex;
    flex-direction: column;
    max-width: 320px;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step__para {
    font-size: 14px;
    color: #718096;
    font-weight: 500;
    line-height: 1.5;
}

/*VALUES*/

#values .row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 24px;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.values__text {
    max-width: 540px;
}

.values__text {
    width: 50%;
    max-width: 540px;
}

.values__image--wrapper {
    width: 50%;
    max-width: 600px;
}

#values .section__title, #values .section__subtitle, #values .section__para {
    text-align: left;
}

.value {
    display: flex;
}

.value__title {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
    margin-bottom: 32px;
    margin-left: 12px;
}

.value__list {
    display: flex;
}

/*PRICING*/

#pricing .row {
    width: 100%;
    max-width: 1024px;
}

.plans {
    display: flex;
    justify-content: space-between;
}

.plan {
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(255 255 255);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color: rgb(26 32 44);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.plan__top, .plan__middle, .plan__bottom {
    padding-top: 2rem;
    padding-bottom: 2rem;
    line-height: 1.625;
}

.plan__title, .plan__target {
    font-size: 20px;
}

.plan__price {
    font-size: 48px;
}

.plan__duration, .plsn.feature {
    font-size: 16px;
}

.plan__stripe {
    position: absolute;
}

.plan__name, .plan__price, .plan__duration {
    font-weight: bold;
    line-height: 1.625;
}

.plan:nth-child(1) .plan__name, .plan:nth-child(1) .plan__price, .plan:nth-child(1), .plan:nth-child(1) .plan__target {
    color: black;
} 

.plan:nth-child(1) .plan__duration, .plan:nth-child(1) .plan__feature {
    color: #a0aec0;
}

.plan:nth-child(1) .button, .plan:nth-child(1) .plan__stripe {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 100%);
}

.plan:nth-child(2) .plan__name, .plan__price, .plan__duration, .plan__target, .plan__feature {
    color: white;
}

.plan:nth-child(2) .button {
    color: #6415FF;
    background-color: white;
}

.plan:nth-child(2) .plan__middle {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

.plan:nth-child(3) .plan__name, .plan:nth-child(3) .plan__price, .plan:nth-child(3) .plan__target {
    color: black;
} 

.plan:nth-child(3) .plan__duration, .plan:nth-child(3) .plan__feature {
    color: #a0aec0;

}

.plan:nth-child(3) .button, .plan:nth-child(3) .plan__stripe {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan:nth-child(1) .plan__middle, .plan:nth-child(3) .plan__middle {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

/*TESTIMONIALS*/

#testimonials .row {
    display: flex;
}

#testimonials .section__para {
    font-size: 18px;
}

.testimonial__image, .testimonial__text {
    width: 50%;
}

.testimonial__image {
    margin: 0 64px;
    max-width: 600  px;
}

.testimonial__text {
    display: flex;
    flex-direction: column;
    max-width: 570px;
}

#testimonials .section__title, #testimonials .section__subtitle, #testimonials .section__para {
    text-align: left;
}

.testimonial__title {
    color: #4a5568;
    line-height: 1.625;
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__para {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.625;
    font-size: 16px;
    color: rgb(74 85 104);
}

.testimonial__name {
    color: #4a5568;
    line-height: 1.625;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__company {
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;
}

.testimonial__image--small {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.fas {
    font-weight: 900;
    color: gold;
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial__profile {
    display: flex;
}

.testimonial__author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.5rem;
}

.testimonial__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}

.testimonial__button svg {
    width: 16px;
    height: 16px;
}

.testimonial__buttons {
    display: flex;
    align-items: center;
}

.divider {
    margin: 0.75rem;
    border-right-width: 1px;
    width: 0.5px;
    background-color: #edf2f7;
    height: 20px;
}

/*START*/


.start__container {
    background-color: #6415FF;
    padding: 96px 0;
    width: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start__title {
    color: white;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
    max-width: 50%;

}

.start__row {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.start__button--1 {
    padding: 24px;
    font-size: 16px;
    width: 174px;
    background: #f56565;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.start__button--2 {
    padding: 24px;
    border: rgba(255, 255, 255, 0.701) 0.5px solid;
    font-size: 16px;
    width: 174px;
    margin-left: 32px;
}

/*FOOTER*/

footer {
    background-color: #6415FF;
    padding-top: 100px;
    padding-bottom: 80px;
    overflow: hidden;
}

.footer__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer a {
    color: white;
    font-size: 14px;
}

footer li {
    margin: 12px 0 12px  0;
}

footer h4 {
    color: white;
    font-size: 16px;
    margin-bottom: 24px;
}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background-color: rgb(116, 44, 255);
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--image {
    width: 40px;
    height: 40px;
}

.footer__logo--text {
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05em;
    font-size: 20px;
}

.footer__copyright {
    color: #cbd5e0
}

.footer__logo--text {
    color: white;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__socials {
    display: flex;
    flex-wrap: wrap;
}

.footer__social--link {
    background-color: white;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
    border-radius: 50%;
}

footer svg {
    height: 18px;
}

/*RESPONSIVE*/

@media (max-width: 1000px) {
    .button__menu {
        display: block;
    }

    .nav__list {
        display: none;
    }

    .header__wrapper {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .header__image--wrapper {
        width: 100%;
        max-width: 400px;
        margin-bottom: 64px;
    }

    .header__text {
        max-width: 100%;
    }

    .header__email--wrapper {
        max-width: 100%;
    }

    .menu__backdrop {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .plans {
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
    }

    .plan {
        margin: 0 0 32px 0;
        max-width: 100%;
        width: 100%;
    }
    .feature {
        width: 100%;
        margin-bottom: 32px;
    }

    .feature__para {
        max-width: 100%;
    }

    .quality__row, .steps__row {
        flex-direction: column;
    }

    .quality__text, .steps__text {
        max-width: 100%;
        margin: 0;
    }

    .values__text {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .value__list {
        display: flex;
        justify-content: space-between;
    }

    .value__text {
        max-width: 200px;
        text-align: left;
    }

    .quality__image--wrapper, .steps__image--wrapper {
        max-width: 100%;
        margin: 32px 0 0 0;
    }
    
    #values .row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .values__image--wrapper, .values__text {
        max-width: 100%;
        width: 100%;
        margin: 32px 0 0 0;
    }
    
    #steps .row {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }


    .pricing .row {
        text-align: center;
    }

    .plans {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 400px;
        margin: 0 auto;
    }

    .plan {
        margin: 0 0 32px 0;
        max-width: 100%;
        width: 100%;
    }

    #testimonials .row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .testimonial__image, .testimonial__text {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }

    .testimonial__text {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #testimonial .section__para {
        text-align: center;
    }

    #start .start__title {
        font-size: 24px;
        max-width: 80%;
        text-align: center;
        margin-bottom: 24px;
    }

    .start__row {
        display: flex;
        flex-direction: column;
    }

    .footer__row {
        max-width: 600px;
    }

    .footer__columns div {
        margin-bottom: 32px;
    }

    .footer__bottom {
        flex-direction: column;
        text-align: center;
    }

    .footer__socials {
        margin-top: 32px;
    }

@media (max-width: 768px) {
    .feature {
        width: 100%;
        margin-bottom: 32px;
    }

    .feature__para {
        max-width: 100%;
    }

    .quality__row, .steps__row {
        flex-direction: column;
    }

    .quality__text, .steps__text {
        max-width: 100%;
        margin: 0;
    }

    .values__text {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .value__list {
        display: flex;
        justify-content: space-between;
    }

    .value__text {
        max-width: 200px;
        text-align: left;
    }

    .quality__image--wrapper, .steps__image--wrapper {
        max-width: 100%;
        margin: 32px 0 0 0;
    }
    
    #values .row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .values__image--wrapper, .values__text {
        max-width: 100%;
        width: 100%;
        margin: 32px 0 0 0;
    }
    
    #steps .row {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }


    .pricing .row {
        text-align: center;
    }

    .plans {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 400px;
        margin: 0 auto;
    }

    .plan {
        margin: 0 0 32px 0;
        max-width: 100%;
        width: 100%;
    }

    #testimonials .row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .testimonial__image, .testimonial__text {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }

    .testimonial__text {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #testimonial .section__para {
        text-align: center;
    }

    #start .start__title {
        font-size: 24px;
        max-width: 80%;
        text-align: center;
        margin-bottom: 24px;
    }

    .start__row {
        display: flex;
        flex-direction: column;
    }

    .footer__row {
        max-width: 600px;
    }

    .footer__columns div {
        margin-bottom: 32px;
    }

    .footer__bottom {
        flex-direction: column;
        text-align: center;
    }

    .footer__socials {
        margin-top: 32px;
    }
}
